<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Home/Index">
        <table>
            <tr><td><input type="text" name="Url" placeholder="Url" /></td></tr>
            <tr><td><input type="text" name="Project" placeholder="Проект" /></td></tr>
            <tr><td><input type="text" name="Repos" placeholder="Репозиторий" /></td></tr>
            <tr><td><input type="text" name="Token" placeholder="Токен" /></td></tr>

            <tr><td><input type="submit" value="Отправить" /> </td></tr>
        </table>
    </form>
</body>
</html>